<div class="about-container">

    <h1 class="cover-heading about-heading">About the project</h1>

    <p class="lead">
        DeepSight is an application which helps to recognize text on images and videos very quickly. This academic project utilizes
        latest trends and discoveries in Deep Learning and Computer Vision. DeepSight uses two Convolutional Neural Networks as two main components of the processing pipeline. Former is a cheap but precise text agnostic detector. Later is a strong word classificator. 
    </p>

    <div class="image-container">
        <img class="image" src="assets\img\img1.png">
    </div>

    <p class="lead">
    </p>

    <p class="lead">
    </p>

</div>