<div class="home-container">
    
    <div class="banner">
        <i class="fa fa-connectdevelop" aria-hidden="true"></i> DeepSight
    </div>

    <h1 class="cover-heading">Welcome.</h1>

    <p class="lead">
        DeepSight is an application which helps to recognize text on images and videos very quickly. This academic project utilizes
        latest trends and discoveries in Deep Learning and Computer Vision.
    </p>

    <p class="lead buttons">
        <a [routerLink]="['', 'about']" class="btn btn-lg btn-default">Learn more</a>
        <a [routerLink]="['', 'upload']" class="btn btn-lg btn-default">Upload files</a>
    </p>

</div>