<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
        DeepSight
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['home']">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </a>

            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['upload']">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                Upload
            </a>

            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['about']">
                <i class="fa fa-info" aria-hidden="true"></i>
                About
            </a>

        </div>
    </div>
</nav>